body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url('/static/img.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-end;
    padding: 30px 90px 0 0;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 245px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin-bottom: 20px;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-info {
    padding: 10px;
}

.product-title {
    font-size: 18px;
    margin-bottom: 8px;
}

.product-price {
    font-size: 16px;
    color: #333;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
}

.product-button {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    background-color: #87B0FF;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: auto;
}

.product-button:hover {
    background-color: #2D7AFF;
}

.search-button-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.cart-button-container {
    position: absolute;
    top: 60px;
    right: 10px;
}

.cart-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}