<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список товарів</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'products/style.css' %}">
</head>
<body>
    <div class="search-button-container">
        <a href="{% url 'search' %}" class="search-link">
            <button class="search-button" type="button">Пошук</button>
        </a>
    </div>
    
    <div class="cart-button-container">
        <a href="{% url 'cart' %}" class="imported-link">
            <button class="cart-button" type="button">Корзина</button>
        </a>
    </div>

    <div class="product-container">
        {% for product in products %}
            <div class="product-card">
                <div class="product-info">
                    <div class="product-title">{{ product.name }}</div>
                    <div class="product-price">Ціна: ${{ product.price }}</div>
                </div>
                
                <div class="buttons-container">
                <a href="{% url 'details' product.id %}" class="product-button">Детальніше</a>
                <form method="POST" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <input type="submit" value="В корзину" class="product-button">
                </div>
                </form>
            </div>
        {% endfor %}
    </div>
</body>
</html>
