{% extends "base.html" %}

{% block title %}
Деталі продукту
{% endblock %}

{% block extra_style %}
<style>
    .product-details {
        max-width: 600px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .detail-label {
        font-weight: bold;
    }

    .detail-value {
        margin-bottom: 15px;
    }

    .detail-link {
        color: #007bff;
        text-decoration: none;
    }

    .detail-link:hover {
        text-decoration: underline;
    }

    .search-message {
        max-width: 600px;
        margin: 0 auto 20px;
    }
    .controls-container {
        display: flex;
        justify-content: space-between;
        max-width: 600px;
        margin: 0 auto 20px;
    }
    .controls-container .edit-button,
    .controls-container .delete-button {
        margin-top: 0px;
        font-size: 16px;
        padding: 10px 20px;
    }
</style>
{% endblock %}

{% block content %}
    {% if user.is_superuser %}
        <div class="controls-container" style="font-size: 16px">
            <a href="{% url 'products:edit' product.id %}" class="edit-link">
                <button class="edit-button" type="button">Редагувати</button>
            </a>
            <a href="{% url 'products:confirm-delete' product.id %}" class="delete-link">
                <button class="delete-button" type="button">Видалити</button>
            </a>
        </div>
    {% endif %}

    <div class="product-details">
        <h1>{{ product.name }}</h1>

        <div class="detail-label">Ціна:</div>
        <div class="detail-value">${{ product.price }}</div>

        <div class="detail-label">ІД:</div>
        <div class="detail-value">{{ product.product_id }}</div>

        <div class="detail-label">Опис:</div>
        <div class="detail-value">{{ product.description|safe }}</div>

        <div class="detail-label">Бренд:</div>
        <div class="detail-value">{{ product.brand }}</div>

        <div class="detail-label">Категорія:</div>
        <div class="detail-value">{{ product.category }}</div>

        <div class="detail-label">Посилання на продукт:</div>
        <div class="detail-value"><a class="detail-link" href="{{ product.link }}">{{ product.link }}</a></div>
    </div>
{% endblock %}

{% block products %}
{% endblock %}

{% block scripts %}
{% endblock %}

